*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;

}
:root{
	--primary-color: #f44336;
	--secondary-color: pink;
	--tertiary-color:black;
	--primary-background-image: url(2.gif);
	--tertiary-background: pink;
	--quaternary-color: black;
	--secondary-background-image: url(none);
	--quinary-background: white;
	--senary-color:black;

}
.dark-theme{
	--primary-color: #000106;
	--secondary-color: white;
	--tertiary-color: #fff;
	--primary-background-image: url(1616151.jpg);
	--tertiary-background: black;
	--quaternary-color: pink;
	--secondary-background-image: url(2085976.jpg);
	--quinary-background: black;
	--senary-color:white;
}
h1{
	color: var(--tertiary-color);
}
h3{
	color: var(--tertiary-color);
}
p{
	color: var(--tertiary-color);
}
#icon{
	width: 30px;
	cursor: pointer;
	top: 50px;
	right: 40px;
	position: absolute;
}
.str{
	min-height: 100vh;
	width: 100%;
	/*background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(2.gif)*/
	background-image: var(--primary-background-image);
	position: relative;
	background-size: cover;
}
.allo{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(11.jpg);
	/*background-image: url(11.jpg);*/
	position: relative;
	background-size: cover;
}
.mass{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(6.jpg);
	/*background-image: url(6.jpg);*/
	position: relative;
	background-size: cover;
}
.lara{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(7.jpg);
	/*background-image: url(7.jpg);*/
	position: relative;
	background-size: cover;
}
nav{
	display: flex;
	padding:2% 6%;
	justify-content: space-between;
	align-items: center; 
}
nav img{
	width: 100px;
	margin-top: -20px;
	margin-left: 1px;

}
.nav-link{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.nav-links ul li ul{
	display: none;
	position: absolute;
	margin-left: -50px;
	background: transparent;
}
.nav-links ul li:hover ul {
	display: block;

}
.usm{
	width: 90%;
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.usm h1{
	font-size: 62px;

}
.usm p{
	margin: 10px 0 40px;
	font-size: 14px;
	color: red;
}
nav .fa{
	display: none;
}

@media(max-width: 800px){
	.usm h1{
		font-size: 20px;
	}
	.nav-links ul{
		display: block;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links ul li ul{
		width: 100%;
		z-index: 1;
		margin-left: 15px;
		margin-top: -80px;
	}
	.nav-links{
		position: fixed;
		background: var(--primary-color);
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 0.5s;
	}
	nav .fa{
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links ul{
		padding: 30px;
	}
	.nav-links.kr{
		margin-left: -50px;
	}
}

/*--------footer-------*/
footer{
	background: var(--tertiary-background);
	height: auto;
	width: 100vw;
	font-family: "Open Sans";
	padding-top: 40px;
	color: black;
}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}
.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}
.footer-bottom{
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}
.footer-bottom{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}
.footer-bottom span{
	text-transform: uppercase;
	opacity: 3;
	font-weight: 200;
}
.footer-bottom a{
	text-decoration: none;
	color: black;
}
.footer-bottom a i{
	font-size: 1.1rem;
	transition: color .5s ease;
}
.footer-bottom a:hover i{
	color: red;
}

/*--------footer-------*/

/*social icons hover part*/

.social{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 80px;
	color: var(--quaternary-color);
}
.social a{
	text-decoration: none;
	color: pink;
}
.social a i{
	font-size: 1.1rem;
	transition: color .5s ease;
}
.social a:hover i{
	color: aqua;
}


      /*social icons hover part*/

.form-container{
	position: relative;
	margin-top: -50px;
	top: 25vh;
	background: transparent;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	margin-bottom: 50px;
}
.form-container1{
	position: relative;
	margin-top: -100px;
	top: 25vh;
	background: transparent;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	margin-bottom: 50px;
}
#exampleInputEmail1{
	border: none;
	background: transparent;
	outline:none;
	color: white;
	border-bottom: solid 2px red;
	padding: 6px;
}
#exampleInputPassword1{
	border: none;
	background: transparent;
	outline: none;
	color: white;
	border-bottom: solid 2px red;
	padding: 6px;
}
#exampleInputEmail2{
	border: none;
	background: transparent;
	outline:none;
	color: white;
	border-bottom: solid 2px red;
	padding: 6px;
}
#exampleInputPassword2{
	border: none;
	background: transparent;
	outline: none;
	color: white;
	border-bottom: solid 2px red;
	padding: 6px;
}
label {
    color: white;
}
.button{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: none;
	padding: 12px 34px;
	font-size: 18px;
	background: transparent;
	position: relative;
	cursor: pointer;
	margin-left: 190px;
	outline: none;
	font-family: "Open Sans";
	margin-top: 30px;
}
.button:hover{
	border: 1px solid var(--primary-color);
	background: var(--primary-color);
	transition: 0.5s;
}
.button1{
	display: inline-block;
	text-decoration: bolder;
	color: #fff;
	border: none;
	padding: 12px 34px;
	font-size: 18px;
	background: transparent;
	position: relative;
	cursor: pointer;
	outline: none;
	font-family: "open sans";
	margin-left: 200px;
}
.button1:hover{
	border: 1px solid var(--primary-color);
	background: var(--primary-color);
	transition: 0.5s;
}
.button2{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: none;
	padding: 12px 34px;
	font-size: 18px;
	background: transparent;
	position: relative;
	cursor: pointer;
	margin-left: 190px;
	outline: none;
	font-family: "Open Sans";
	margin-top: -30px;
}
.button2:hover{
	border: 1px solid var(--primary-color);
	background: var(--primary-color);
	transition: 0.5s;
}
#regid{
	border: none;
	background: transparent;
	outline: none;
	color: white;
	border-bottom: solid 2px red;
	padding: 6px;
}
#u1{
	border: none;
	background: transparent;
	outline: none;
	color: white;
	border-bottom: solid 2px red;
	padding: 6px;
}
#u2{
	border: none;
	background: transparent;
	outline: none;
	color: white;
	border-bottom: solid 2px red;
	padding: 6px;
}
#u3{
	border: none;
	background: transparent;
	outline: none;
	color: white;
	border-bottom: solid 2px red;
	padding: 6px;
}
#u4{
	border: none;
	background: transparent;
	outline: none;
	color: white;
	border-bottom: solid 2px red;
	padding: 6px;
}
#ye{
	border: none;
	background: transparent;
	outline: none;
	color: white;
	border-bottom: solid 2px red;
	padding: 6px;
}
#dept{
	border: none;
	background: transparent;
	outline: none;
	color: white;
	border-bottom: solid 2px red;
	padding: 6px;
}
@media (max-width: 800px){
	.form-container{
		flex-direction: row;
		border-top: -90rem;
		margin-bottom: 30px;
	}
	.button1{
		margin-left: 40px;
	}
	.dis{
		flex-direction: row;
		border-top: -90rem; 
	}
}
.form-container{
	position: relative;
	top: 25px;
}
.mb-3 a{
	text-decoration: none;
	color: var(--secondary-color);
}
.mb-3 a i{
	transition: color .5s ease;
}
.mb-3 a:hover i{
	color: aqua;
}
.fa fa-user{
	color: var(--secondary-color);
}
.fa fa-user a i{
	transition: color .5s ease;
}
.fa fa-user a:hover i{
	color: aqua;
}
.fa fa-lock{
	color: var(--secondary-color);
}
.fa fa-lock a i{
	transition: color .5s ease;
}
.fa fa-lock a:hover i{
	color: aqua;
}
.fa fa-envelope{
	color: var(--secondary-color);
}
.fa fa-envelope a i{
	transition: color .5s ease;
}
.fa fa-envelope a:hover i{
	color: aqua;
}
.fa fa-heart-o{
	color: transparent;
}
.fa fa-heart-o a i{
	transition: color .5s ease;
}
.fa fa-heart-o a:hover i{
	color: aqua;
}
.dis{
	position: relative;
	margin-top: -150px;
	margin-left: -70px;
	top: 25vh;
	background: transparent;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}
#na{
	border: none;
	background: transparent;
	outline: none;
	color: white;
	border-bottom: solid 2px red;
	padding: 6px;
}
#regno{
	border: none;
	background: transparent;
	outline: none;
	color: white;
	border-bottom: solid 2px red;
	padding: 6px;
}
#inputPassword6{
	border: none;
	background: transparent;
	outline: none;
	color: white;
	border-bottom: solid 2px red;
	padding: 6px;
}
#inputPassword7{
	border: none;
	background: transparent;
	outline: none;
	color: white;
	border-bottom: solid 2px red;
	padding: 6px;
}
.container{
	position: relative;
	width: 1100px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 30px;
}
.container .card{
	position: relative;
	height: 215px;
	background: var(--quinary-background);
	direction: flex;
	max-width: 300px;
	margin: 30px 10px;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 90px rgba(0,0,0,0.5);
	transition: 0.3s ease-in-out;
}
.container .card:hover{
	height: 420px;
}
.container .card .imgBx{
	position: relative;
	top: -60px;
	left: -27px;
	width: 120%;
	height: 260%;
	background: black;
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card.imgBx img{
	max-width: 100px;
	border-radius: 4px;
}
.container .card .content{
	position: relative;
	margin-top: 10px;
	padding: 10px 15px;
	font-family: "stencil std";
	background:var(--quinary-background);
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}
.container .card:hover .content{
	visibility: visible;
	opacity: 1;
	margin-top: -40px;
	transition-delay: 0.1s;
}
ul a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
@media screen and (max-width: 1000px){
	.card{
		width: 40%;
	}
}
@media screen and (max-width: 620px){
	.container{
		width: 100%;
	}
	.card{
		width: 80%;
	}
	.about-dsa{
		margin-bottom: 500px;
	}
	.about-col img{
		margin-top: 80px;
		margin-right: 150px;
		height: 80%;
		width: 100%;
	}
	.about-col .asd{
		margin-top: -80px;
		margin-right: 200px;
		width: 100%;
	}
	.about-col p{
		height: 30vh;
		width: 100%;
		align-items: center;
		margin-bottom: -50px;

	}
	.button3{
		left: -100px;
		width: 80%;
	}
	.abt{
		background-position: cover;
		background-size: cover;
	}
}
.p1{
	color: blue;
}
/*-----------About us--------------*/
.abt{
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(2.gif);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff; 
}
.abt .dsa{
	margin-top: 100px;
	color: white;
}
.about-us{
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;
}
.about-col{
	flex-basis: 48%;
	padding: 30px 2px;
}
.about-col img{
	width: 100%;
	margin-left: 50px;
}
.location{
	width: 80%;
	margin: auto;
	padding: 80px 0;
}
.location iframe{
	width: 100%;
}
.fa fa-home{
	color: var(--secondary-color);
}
.fa fa-home a i{
	transition: color .5s ease;
}
.fa fa-home a:hover i{
	color: aqua;
}
.fa fa-phone{
	color: var(--secondary-color);
}
.fa fa-phone a i{
	transition: color .5s ease;
}
.fa fa-phone a:hover i{
	color: aqua;
}
.fa fa-envelope{
	color: var(--secondary-color);
}
.fa fa-envelope a i{
	transition: color .5s ease;
}
.fa fa-envelope a:hover i{
	color: aqua;
}
.got{
	background-image: var(--secondary-background-image);
}
.contact-us{
	width: 80%;
	margin: auto;
}
.contact-col{
	flex-basis: 48%;
	margin-bottom: 30px;
}
.contact-col div{
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}
.contact-col div .fa{
	font-size: 28px;
	color: #f44336;
	margin: 10px;
	margin-right: 30px;
}
.contact-col div p{
	padding: 0;
}
.contact-col div h5{
	font-size: 20px;
	margin-bottom: 5px;
	color: #555;
	font-weight: 400;
}
.contact-col input, .contact-col textarea{
	width: 100%;
	padding: 15px;
	margin-bottom: 17px;
	outline: none;
	border: 1px solid black;
	box-sizing: border-box;
	background: transparent;
}
.button3{
	display: inline-block;
	text-decoration: none;
	color: var(--tertiary-color);
	border: none;
	padding: 12px 34px;
	font-size: 18px;
	background: transparent;
	position: relative;
	cursor: pointer;
	margin-left: 190px;
	outline: none;
	font-family: "Open Sans";
	margin-top: -30px;
}
.button3:hover{
	border: 1px solid var(--primary-color);
	background: var(--primary-color);
	transition: 0.5s;
}
.button4{
	display: inline-block;
	text-decoration: none;
	color: var(--tertiary-color);
	border: none;
	padding: 12px 34px;
	font-size: 18px;
	background: transparent;
	position: relative;
	cursor: pointer;
	margin-left: 30px;
	outline: none;
	font-family: "Open Sans";
	margin-top: -30px;
}
.button4:hover{
	border: 1px solid var(--primary-color);
	background: var(--primary-color);
	transition: 0.5s;
}
.tog{
	background-image: var(--secondary-background-image);
}
.table{
	width: 100%;
	max-width: 7203px;
	margin: 40px auto;
	background-image: var(--secondary-background-image);
	box-shadow: 0px 4px 20px rgba(5,57,94,.5);
	-moz-box-shadow: 0px 4px 20px rgba(5,57,94,.5);
	-webkit-box-shadow: 0px 4px 20px rgba(5,57,94,.5);
}
@media screen and (max-width:767px;){
	table thead{display: none;}
	table tbody{padding: 0 16px;}
	table tbody, table tbody tr{display: block;width: 100%;}
	table tbody tr th::before, table tbody tr td::before{content: attr(data-title); display: block; font-weight: 600; font-size: 12px; color: rgba(5,57,94,.7);}
	table tbody tr td,
	table tbody tr th{display: block; width: 50%; float: left; font-size: 16px; color: rgb(5,57,94,.1); font-weight: 700;}
	table tbody tr{margin-bottom: 16px; float: left; clear: both; box-shadow: 0px 4px 20px rgba(5,57,94,.5);
	-moz-box-shadow: 0px 4px 20px rgba(5,57,94,.5);
	-webkit-box-shadow: 0px 4px 20px rgba(5,57,94,.5);}
}
.lkj{
	color: var(--senary-color);
}
.uio{
	background-image: var(--secondary-background-image);
}
.button6{
	display: inline-block;
	text-decoration: none;
	color: var(--tertiary-color);
	border: none;
	padding: 12px 34px;
	font-size: 15px;
	background: transparent;
	position: relative;
	cursor: pointer;
	margin-left: 0px;
	outline: none;
	font-family: "Open Sans";
	margin-top: -200px;
}
.button6:hover{
	border: 1px solid var(--primary-color);
	background: var(--primary-color);
	transition: 0.5s;
}
