<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>INTERNAL MARKS ENTRY PORTAL</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="./css/style.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
	h1{
	text-align: center;
	}
	h2{
	text-align:center;
	border-top: 10px;
	color: aqua;
	}
</style>

	</head>
	<body>
		<div class="abt">
			<nav>
				<a href="index.html"><img src="css/logo1.png"></a>
				<div class="nav-links" id="navLinks">
					<i class="fa fa-times" onclick="hideMenu()"></i>
					<ul>
						<li><a href="index.html">HOME</a></li>
						<li><a href="">LOGIN</a>
							<ul>
								<li><a href="login.html">Student</a></li>
								<li><a href="teacher login.html">Teacher</a></li>
							</ul>
						</li>
						<li><a href="about us.html">ABOUT</a></li>
						<li><a href="contact.html">CONTACT</a></li>
					</ul>
					<img src="css/moon.png" id="icon">
				</div>
				<i class="fa fa-bars" onclick="showMenu()"></i>
			</nav>
			<h1 class="dsa"><strong>About us</strong></h1>
		</div>
		
		<!----- javaScript for toggel menu---->

		<script>
			var navLinks = document.getElementById("navLinks");
			function showMenu(){
				navLinks.style.right = "0";
			}
			function hideMenu(){
				navLinks.style.right = "-200px";
			}
		</script>

		<script>
			var icon = document.getElementById("icon");

			icon.onclick= function(){
				document.body.classList.toggle("dark-theme");
				if(document.body.classList.contains("dark-theme")){
					icon.src = "css/sun.png";
				}else{
					icon.src = "css/moon.png";
				}
			}
		</script>


		<footer>
			<div class="footer-content">
				<h3> About Us</h3>
				<p>This is most trusted website and it is approved by 5k colleges around india. And we have more than 5 colleges in abroad.<br>The World's Biggest IME Portal</p>
				<ul class="social">
					<a style="padding-left: 25px;" herf=""><i class="fa fa-facebook"></i></a>
					<a style="padding-left: 25px;" herf=""><i class="fa fa-twitter"></i></a>
					<a style="padding-left: 25px;" herf=""><i class="fa fa-instagram"></i></a>
					<a style="padding-left: 25px;" herf=""><i class="fa fa-linkedin"></i></a>
				</ul>
			</div>
			<div class="footer-bottom">
				<p>Made with<a href=""><i class="fa fa-heart-o"></i></a>By BBRJ</p>
			</div>
		</footer>









		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
	</body>
</html>