<div class="container">
				<div class="card">
					<div class="imgBx">
						<a href="sem res.html"><img src="css/se.png"></a>
					</div>
					<div class="content">
								<ul>
									<li><button class="button6" data-toggle="modal" data-target="#myModal">Unit Test 1</button></li>
									<li><button type="button" class="button6" data-toggle="modal" data-target="#myModal">Unit Test 2</button></li>
									<li><button type="button" class="button6" data-toggle="modal" data-target="#myModal">Internal Exam 1</button></li>
									<li><button type="button" class="button6" data-toggle="modal" data-target="#myModal">Unit Test 3</button></li>
									<li><button type="button" class="button6" data-toggle="modal" data-target="#myModal">Unit Test 4</button></li>
									<li><button type="button" class="button6" data-toggle="modal" data-target="#myModal">Internal Exam 2</button></li>
								</ul>	
									<div class="modal" id="myModal">		
									    <div class="modal-dialog">
									      <div class="modal-content">
									        <!-- Modal Header -->
									        <div class="modal-header">
									          <h4 class="modal-title">RESULTS</h4>
									          <button type="button" class="close" data-dismiss="modal">&times;</button>
									        </div>
									        <div class="modal-body">
									          <ul>
									          	<li>HS8151 Communicative English :</li>
									          	<li>MA8151 Engineering Mathematics 1 :</li>
									          	<li>PH8151 Engineering Physics :</li>
									          	<li>CY8151 Engineering Chemistry :</li>
									          	<li>GE8151 Problem Solving and Python Programming :</li>
									          	<li>GE8152 Engineering Graphics :</li>
									          </ul>
									        </div>
									        
									        <!-- Modal footer -->
									        <div class="modal-footer">
									          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
									        </div>
									        
									      	</div>
									    </div>
									 </div>	
					</div>
				</div>